.container {
  height: 100vh;
  background-color: rgb(37, 35, 58);
  object-fit: cover;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
 form {
      align-items: center;
      margin: 0 auto;
      width: 350px;
      background-color: rgb(211, 207, 207);
      padding: 10px;
      text-align: center;
      border-radius: 20px;
      box-shadow: 5px 10px 18px #888888;
  }

  button {
      background-color: white;
      color: black;
      border: none;
      padding: 10px;
      border-radius: 10px;
  }

  input {
      padding: 10px;
      border-style: none;
      border-radius: 10px;
  }
}
