.container {
    //width: 100%;
    height: 100vh;
    button:hover {
      cursor: pointer;
    }
    .navbar {
        justify-content: space-between;

        nav {
            display: flex;
            background-color: skyblue;
            padding: 10px;
            justify-content: space-around;

            span {
                color: green;
                font-weight: bolder;
            }

            .button {
                display: flex;
                align-items: center;

                a:hover {
                    cursor: pointer;
                }

                .addproductbtn {
                    margin-right: 20px;
                    margin-left: 20px;
                }

                .soldproductbtn {
                    margin-right: 20px;
                    margin-left: 20px;

                }
            }

            button {
                padding: 10px;
                border-radius: 5px;
                border-style: none;
                background-color: green;
                color: white;
                font-size: x-large;
            }
        }
    }

    .products {
        // width: 100%;
        height: 100vh;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        margin-top: 30px;
        margin-left: 30px;

        .product {
            align-items: center;
            text-align: center;
            width: 300px;
            background-color: whitesmoke;
            padding: 20px;
            color: black;
            .dltbtn {
                background-color: red;
                margin-right: 10px;
                padding: 10px;
                border-radius: 5px;
                border-style: none;
                color: white;
                font-size: x-large;
            }
            .updbtn{
                padding: 10px;
                border-radius: 5px;
                border-style: none;
                background-color: green;
                color: white;
                font-size: x-large;
            }
        }

        .material {
            text-align: left;
        }
    }
}
